.category{
    border: 1px solid #F5F5F5;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.category img{
    max-width: 50px;
    min-width: 40px;
}
.category:hover{
    background: #EDF3FD;
}

