.changePassword {
    /* background-color: white;
    padding: 30px; */
}

.changePassword .inputField{
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
.changePassword .formContainer{
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 40px;
    max-width: 450px;
}