.productAll {
  background: #f6f6f6;
}
.selectFormComponents {
  margin-bottom: 40px;
}

.productAll .selectFormComponents > div {
  width: 32%;
}

.displayProducts [class*="col-"] {
  margin-bottom: 20px;
}

.displayCart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signleCart {
  padding: 10px;
}


@media (max-width: 460px) {
  .productAll .selectFormComponents {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .productAll .selectFormComponents > div {
    width: 100%;
    margin-bottom: 20px;
  }
}
